{% include 'header.html' %}

{% for item in empleados %}

<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card-header">
        Modificar empleado
    </div>

    <div class="card-body">
        <div class="card-title text-center">
            Datos del empleado
        </div>
        <div class="card-text">

            <div class="form-group">
                <label>Numero de empleado:</label>
                <input type="text" value="{{ item[0] }}" name="txtID" id="txtID" readonly>
            </div>

            <br><hr>

            <div class="form-group">
                <label for="txtNombre">Nombre:</label>
                <input class="form-control" type="text" value="{{ item[1] }}" name="txtNombre" id="txtNombre">
            </div>

            <br><hr>

            <div class="form-group">
                <label for="txtNombre">Correo:</label>
                <input class="form-control" type="email" value="{{ item[2] }}" name="txtCorreo" id="txtCorreo">
            </div>

            <br><hr>

            <div class="form-group">
                <label for="txtFoto">Foto:</label>
                <br>
                <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreFoto=item[3]) }}">
                <br><br>
                <input class="form-control" type="file" name="txtFoto" id="txtFoto">
            </div>

            <br>

            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-success">
                |
                <a href="{{ url_for('index') }}" class="btn btn-warning">Regresar</a>
            </div>
        </div>
    </div>
</form>

{% endfor %}

{% include 'footer.html' %}